<a href="https://colab.research.google.com/github/AgustinaStout/recursos-analisis-datos/blob/main/6_Secuencias/Clase_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ejercicio 1.1 - While

In [ ]:
password_usuario ="PedroLozano1111"
password_ingresada =input("Ingrese contraseña")

while (password_usuario != password_ingresada):
  print("La contraseña",password_ingresada,"es incorrecta re intente por favor")
  password_ingresada = input("Ingrese su contraseña nuevamente: ")

Ingrese contraseñahlhasljah
La contraseña hlhasljah es incorrecta re intente por favor
Ingrese su contraseña nuevamente: PedroLozano1111

In [ ]:
numero_ciclo_while = 1
while numero_ciclo_while < 10:
  print(numero_ciclo_while)
  numero_ciclo_while += 1

1
2
3
4
5
6
7
8
9

while() with else

In [ ]:
nombre_usuario = "Agustina"
nombre_ingresado = input("Ingrese su nombre: ")

while (nombre_usuario != nombre_ingresado):
  print("El usuario",nombre_ingresado,"es incorrecto re intente por favor")
  nombre_ingresado = input("Ingrese su nombre nuevamente: ")
else:
  print("Bienvenido",nombre_ingresado)

Ingrese su nombre: Agustina
Bienvenido Agustina

while() with break

In [ ]:
numero_entero=0
while numero_entero<10:
  print("El número entero es:", numero_entero)
  numero_entero+=1
  if numero_entero == 5:
    print("¡El numero entero llegó a 5, terminando el bucle!")
    break

El número entero es: 0
El número entero es: 1
El número entero es: 2
El número entero es: 3
El número entero es: 4
¡El numero entero llegó a 5, terminando el bucle!

while() with continue

In [ ]:
numero_a_dividir = 10
divisor_actual = -6
divisor_final = 5

while (divisor_actual <= divisor_final):
  divisor_actual += 1
  if divisor_actual == 0:
    continue
  resultado = round(numero_a_dividir/divisor_actual,1)
  mensaje = "La division de {} entre {} da como resultado {}".format(numero_a_dividir, divisor_actual, resultado)
  print(mensaje)

La division de 10 entre -5 da como resultado -2.0
La division de 10 entre -4 da como resultado -2.5
La division de 10 entre -3 da como resultado -3.3
La division de 10 entre -2 da como resultado -5.0
La division de 10 entre -1 da como resultado -10.0
La division de 10 entre 1 da como resultado 10.0
La division de 10 entre 2 da como resultado 5.0
La division de 10 entre 3 da como resultado 3.3
La division de 10 entre 4 da como resultado 2.5
La division de 10 entre 5 da como resultado 2.0
La division de 10 entre 6 da como resultado 1.7

for()

In [ ]:
texto = "Este es un mensaje de python que contiene 55 caracteres"
numero_letra = 1

for letra in texto:
  mensaje = "La letra {} es {}".format(numero_letra,letra)
  print(mensaje)
  numero_letra += 1

for in range()

In [ ]:
for numero in range(10, 20):
    print(numero)

10
11
12
13
14
15
16
17
18
19

In [ ]:
for valores_pares in range(2, 14, 2):
    print(valores_pares)

2
4
6
8
10
12

**COLECCIONES DE DATOS**

list
Las listas se definen con [ ] y los valores se separan por ,

Las listas permiten guardar diferentes tipos de datos, en un solo objeto.

In [ ]:
lista_nombres = ["andres", "maria", "fernando"]
lista_numerica = [15, 6, 8.9, -5.5]
lista_mezclada = ["azul", 1, False, "programar", 8.8]
lista_apellidos = ["perez","garcia", "muñoz","ruiz"]

print("El 1er apellido de la lista tiene indice 0 y es:", lista_apellidos[0])
print("El 3er apellido de la lista tiene indice 2 y es:", lista_apellidos[2])

El 1er apellido de la lista tiene indice 0 y es: perez
El 3er apellido de la lista tiene indice 2 y es: muñoz

In [ ]:
lista_numerica=[27,59,29,61,93]
lista_fruta=["pera","melon","frutilla"]
lista_datos_personales = ["Agustina", 27, True, "cocina"]
type(lista_datos_personales)

list

In [ ]:
lista_numerica.append(80)
lista_numerica

[27, 59, 29, 61, 93, 80]

In [ ]:
lista_fruta.extend(["mango","coco","manzana"])
lista_fruta

['pera', 'melon', 'frutilla', 'mango', 'coco', 'manzana']

In [ ]:
lista_fruta.insert(2, "kiwi")
lista_fruta

['pera', 'melon', 'kiwi', 'frutilla', 'mango', 'coco', 'manzana']

In [ ]:
ultimo_dato = lista_datos_personales.pop()
print("El ultimo dato era: ", ultimo_dato)
print("El la lista quedo: ",lista_datos_personales)

El ultimo dato era:  cocina
El la lista quedo:  ['Agustina', 27, True]

In [ ]:
lista_fruta.remove("pera")
lista_fruta

['melon', 'kiwi', 'frutilla', 'mango', 'coco', 'manzana']

In [ ]:
lista_numerica.sort()
lista_numerica

[27, 29, 59, 61, 80, 93]

In [ ]:
lista_fruta.reverse()
lista_fruta

['manzana', 'coco', 'mango', 'frutilla', 'kiwi', 'melon']

len()

In [ ]:
len=(lista_fruta)

tuple / Acciones con tuplas

In [ ]:
tupla_profesiones=("medico","mecanico","profesora de danza","fumigador")
indice_mecanico = tupla_profesiones.index("mecanico")
print("El indice de mecanicos es", indice_mecanico)

El indice de mecanicos es 1

In [ ]:
tupla_profesiones=("medico","mecanico","fumigador","profesora de danza","fumigador")
cant_fumigador = tupla_profesiones.count("fumigador")
print("La cantidad de fumigadores es:", cant_fumigador)

La cantidad de fumigadores es: 2

set - no puede haber duplicados, en cambio, si permiten quitar y poner elementos

In [ ]:
lista_valores_repetidos = (87,31,2,2,3,3,1,5,4,3,23,23,12,9,8,99,11,56,26,23,71,15,124,8,1,3,1,9,49,1,5,1)
lista_valores_repetidos

(87,
 31,
 2,
 2,
 3,
 3,
 1,
 5,
 4,
 3,
 23,
 23,
 12,
 9,
 8,
 99,
 11,
 56,
 26,
 23,
 71,
 15,
 124,
 8,
 1,
 3,
 1,
 9,
 49,
 1,
 5,
 1)

In [ ]:
conjunto_unicos = set(lista_valores_repetidos)
print("Elementos únicos:", conjunto_unicos)
type(conjunto_unicos)

Elementos únicos: {1, 2, 3, 4, 5, 8, 9, 11, 12, 15, 23, 26, 31, 49, 56, 71, 87, 99, 124}

set

dict{} Los diccionarios se definen con {} y los elementos se separan por , pero para separa la clave del valor usamos :

In [ ]:
info_agus = {
    "nombre" : "Agustina",
    "apellido" : "Stout",
    "edad" : "27",
    "es_alumna" : True,
    "es_profe" : False,
}

apellido_persona = info_agus.get("apellido")
print("Apellido:", apellido_persona)
keys_diccionario = info_agus.keys()
print("Keys:", keys_diccionario)
values_diccionario = info_agus.values()
print("Values:", values_diccionario)
items_diccionario = info_agus.items()
print("Items:", items_diccionario)
edad_persona = info_agus.pop("edad")
print("Edad:", edad_persona)
print("Diccionario después de pop:", info_agus)
info_agus.clear()
print("Diccionario después de clear:", info_agus)

Apellido: Stout
Keys: dict_keys(['nombre', 'apellido', 'edad', 'es_alumna', 'es_profe'])
Values: dict_values(['Agustina', 'Stout', '27', True, False])
Items: dict_items([('nombre', 'Agustina'), ('apellido', 'Stout'), ('edad', '27'), ('es_alumna', True), ('es_profe', False)])
Edad: 27
Diccionario después de pop: {'nombre': 'Agustina', 'apellido': 'Stout', 'es_alumna': True, 'es_profe': False}
Diccionario después de clear: {}